* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color-primary: hsl(191, 65%, 7%);
  --bg-color-secondary: hsla(195, 91%, 25%, 1);
  --bg-color-tertiary: hsla(194, 72%, 13%, 1);
  --bg-tr-odd:hsla(195, 61%, 6%, 0.5);
  --bg-tr-even: hsl(192, 65%, 7%);
}

body {
  background-color: black;
  color: white;
}

.page {
  width: 100rem;
  margin: 0 auto;

  padding: 6rem;
}

 header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

header h1 {
  text-transform: uppercase;
  color: white;
}

.search {
  display: flex;
  gap: 5px;
  align-items: center;
}


.search input {
  width: 30rem;
  padding: 1rem;

  border-radius: 5px;

  background-color: var(--bg-color-primary);
  color: white;
}

.search input::placeholder {
  color: whitesmoke
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search button{
  padding: 1rem;
  width: 10rem;

  border-radius: 5px;

  cursor: pointer;

  background-color: var(--bg-color-secondary);
  color: white;
}

.search button:hover {
  --bg-color-secondary: rgb(2, 58, 77);
}

table {
  margin-top: 8rem;
  width: 100%;

  border-collapse: collapse;
}

table th {
  text-align: left;
  background-color: var(--bg-color-tertiary);

  height: 6rem;

  padding: 2rem;
}

table th:first-child {
  border-top-left-radius: 12px;
}

table th:last-child {
  border-top-right-radius: 12px;
}

table tr:nth-child(odd) {
  background-color: var(--bg-tr-odd);
}

table tr:nth-child(even) {
  background-color: var(--bg-tr-even);
}

table td {
  text-align: left;
  padding: 2rem;

}

td.MovieName {
  display: flex;
  align-items: center;
  gap: 16px;
}

.MovieName img {
  width: 7rem;
  height: 7rem;

  border-radius: 50%;

  object-fit: cover;
}

.MovieName a {
  text-decoration: none;
}

.MovieName a p {
  color: white;
}

.remove button {
  background: transparent;
  color: red;

  cursor: pointer;
}
